.some {
  font-size: 18px;
}
.new-line {
  font-size: 18px;
}

#fifth {
  font-size: 18px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sixth {
  font-size: 18px;
}
